<div *ngIf="hero">
  <h2>{{hero.name | uppercase}} Details</h2>
  <div><span>id: </span>{{hero.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="hero.name" placeholder="name"/>
    </label>
  </div>
  <div *ngIf="hero.retirement_date">
    <label>retirement date:</label><br>
    <input [(ngModel)]="hero.retirement_date">
  </div>
  <div *ngIf="!hero.retirement_date">
    <label>add retirement date:</label><br>
    <input #retirementDate type="date"><br>
    <button (click)="changeRetirement(hero.id, hero.name, retirementDate.value)">add</button>
  </div>
  <div *ngIf="powers.length !== 0">
    <label>powers:</label>
    <div>
      <ng-container *ngFor="let power of powers">
      <input 
        #powerEdit
        (change)="changePower(powerEdit.value, powerEdit.id)" 
        value={{power.name}}
        id={{power.id}} />
        <button id={{power.id}} class="delete" title="delete power"
        (click)="deletePower(hero.id, powerEdit.id)">DELETE POWER</button><br>
      </ng-container>
    </div>
  </div>
  <div>
    <label>add power:
      <input #powerName />
    </label>
  </div>

  <button (click)="addPower(hero.id, powerName.value); getPowers(hero.id); powerName.value=''">
      add power
    </button>
  <button (click)="goBack()">go back</button>
  <button (click)="save()">save</button>
</div>


<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->