<h2>My Heroes</h2>

<div>
  <label>Hero name:
    <input #heroName />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
</div>
<div>
  <label>Powers:</label>
    <input #powerName /><button (click)="addAddlPower(powerName.value); powerName.value=''">add power to hero</button>
    <ng-container *ngIf="powers">
    <br>ADDING THESE POWERS TO HERO:
      <ul>
        <li *ngFor="let power of powers">{{power}}<button (click)="removePower(this.power)">REMOVE</button></li>
      </ul>
    </ng-container>
  <!-- (click) passes input value to add() and then clears the input -->
</div>
<div>
  <label>Retirement Date:
    <input #retirementDate type="date" />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(heroName.value, powerName.value, retirementDate.value); heroName.value=''; powerName.value=''">
    add
  </button>
</div>

<ul class="heroes">

  <li *ngFor="let hero of heroes">

      <a routerLink="/detail/{{hero.id}}">
        <span *ngIf="hero.status == 'active' || !hero.status" class="badge">{{hero.id}}</span>
        <span *ngIf="hero.status == 'retired'" class="badge-red">{{hero.id}}</span>
        {{hero.name}}
      </a>

      <button class="delete" title="delete hero"
        (click)="delete(hero)">x</button>

  </li>

</ul>


<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->